* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  font-family: "Poppins", sans-serif;
}

main {
  background-color: var(--Off-white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  width: 10rem;
  height: 4rem;
  border-radius: 5px;
  padding: 1.5rem;
  border: 1px solid var(--Light-grey);
  caret-color: var(--Purple);
  font-size: 2rem;
}

::placeholder {
  color: var(--Off-black);
  font-size: 2rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  background-color: var(--White);
  width: 840px;
  height: 630px;
  border-radius: 18px 18px 150px 18px;
  padding: 2.5rem;
  position: relative;
}

.date-text {
  display: flex;
  gap: 6.5rem;
}

.date-number {
  display: flex;
  gap: 2rem;
}

.button {
  height: 11rem;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  width: 81.2%;
  height: 1 px;
  background: var(--Off-white);
  z-index: 4;
}

.result {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  line-height: 200%;
  align-items: center;
  font-size: 3rem;
  font-style: italic;
}

.result span {
  color: var(--Purple);
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 10px;
}

p {
  color: var(--Smokey-grey);
  font-size: 0.75rem;
}

button {
  border-radius: 50%;
  border: 0;
  background-color: var(--Purple);
  position: absolute;
  right: 2rem;
  cursor: pointer;
  padding: 20px;
}
